<h1>Add bpmn-js to Angular</h1>

<div class="diagram-parent">
  <app-diagram [url]="diagramUrl" (importDone)="handleImported($event)" #diagramComponent></app-diagram>

  <div class="import-error" *ngIf="importError">
    <strong>Failed to render diagram: </strong>
    {{ importError.message }}
  </div>
</div>
<button type="button" class="btn btn-primary" (click)="saveDiagram()">SAVE XML</button>
<button type="button" class="btn btn-primary" (click)="setUserTask()">SET USER TASK</button>
<button type="button" class="btn btn-primary" (click)="changeTask()">SET change TASK</button>
<button type="button" class="btn btn-primary" (click)="compareDiagrams()">Compare</button>

<div>
  <label for="">Variable Task1:</label>
  <input type="text" [(ngModel)]="task_gateway">
  <button (click)="inputTask()">Unesi</button>
</div>